@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100;1,400;1,700&display=swap');

html{
  width: 100%;
}

body{
  background-color: #222528;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
}

a{
  color: white;

  
}

.fab{
  font-weight: 400;
  color: grey;
  font-size: 30px;
}

.regina{
  text-decoration: none;
 color: white;
}

.regina:hover{
  color: #9FDCB2;
}

.violeta{
  text-decoration: none;
  color: white;
}

.violeta:hover{
  color: #DA5642;
}

.action{
  position: sticky;
  float: right;
  margin-right: 20px;
  bottom: 60px;
  text-decoration: none;
  border-radius: 50px;
  border: solid 1px black;
  background: #222528;
  padding: 20px;
  color: aliceblue;
}

.collapsible{
padding: 40px;
cursor: pointer;
font-weight: lighter;
 font-size: 2rem;
}

.first{
  background-color: #9FDCB2;
  height: 200px;

}
.second{
  background-color: #F5FFC7;
  height: 200px;
}
.third{
  background-color: #FBD994;
  height: 200px;
}
.fourth{
  background-color: #F9BC7C;
  height: 200px;
}
.fifth{
  background-color: #DA5642;
  height: 200px;
}

.alert{
  text-align: center;
  color: white;
  font-size: smaller;
}



em{
  font-size: 2rem;
    font-weight: 400;
    padding: 10px;
}

#content1, #content2, #content3, #content4, #content5{
  height: 150px;
  font-size: 0.8rem;
  padding: 20px;
}


#content1{
  background-color: #9FDCB2;
}
#content2{
  background-color: #F5FFC7;
}
#content3{
  background-color: #FBD994;
}
#content4{
  background-color: #F9BC7C;
}
#content5{
  background-color: #DA5642;
}




@media (max-width: 812px) {

  #content1, #content2, #content3, #content4, #content5{
font-size: 0.7;
height: 300px;
}


}

@media (max-width: 660px) {

  em{
    font-size: 1rem;
  }

  .collapsible{
    font-size: 1rem;
    height: 250px;
  }

  #content1, #content2, #content3, #content4, #content5{
    font-size: 0.7;
    height: 300px;
    padding: 10px;
    }


}
