@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100;1,400;1,700&display=swap');

html{
  width: 100%;
}

body{
  background-color: #222528;
  width: 100%;
  font-family: 'Roboto Mono', monospace;
}


.regina{
  text-decoration: none;
 color: white;
}

.regina:hover{
  color: #9FDCB2;
}

.violeta{
  text-decoration: none;
  color: white;
}

.violeta:hover{
  color: var(--red);
}

.action{
  position: sticky;
  float: right;
  margin-right: 20px;
  bottom: 60px;
  text-decoration: none;
  border-radius: 50px;
  border: solid 1px black;
  background: #222528;
  padding: 20px;
  color: aliceblue;
}

.collapsible{
padding: 30px;
cursor: pointer;
font-weight: lighter;
 font-size: 2rem;
}

.first{
  background-color: #9FDCB2;
  height: 250px;

}
.second{
  background-color: #B4E4B7;
  height: 200px;
}
.third{
  background-color: #C9ECBC;
  height: 200px;
}
.fourth{
  background-color: #D4F0BF;
  height: 200px;
}
.fifth{
  background-color: #DEF4C1;
  height: 200px;
}

.sixth{
  background-color: #F2FBC5;
  height: 200px;
}
.seventh{
  background-color: #F5F3B9;
  height: 200px;
}

.eighth{
  background-color: #F7EAAD;
  height: 250px;

}
.nineth{
  background-color: #F8E6A7;
  height: 200px;
}
.tenth{
  background-color: #F9E2A1;
  height: 200px;
}
.fourth{
  background-color: #DEF4C1;
  height: 200px;
}
.fifth{
  background-color: #F2FBC5;
  height: 200px;
}

.fourth{
  background-color: #DEF4C1;
  height: 200px;
}
.fifth{
  background-color: #F2FBC5;
  height: 200px;
}
.fourth{
  background-color: #DEF4C1;
  height: 200px;
}
.fifth{
  background-color: #F2FBC5;
  height: 200px;
}
.fourth{
  background-color: #DEF4C1;
  height: 200px;
}
.fifth{
  background-color: #F2FBC5;
  height: 200px;
}
.fourth{
  background-color: #DEF4C1;
  height: 200px;
}
.fifth{
  background-color: #F2FBC5;
  height: 200px;
}
#demo{
  font-size: 3rem;
    font-weight: 500;
    padding: initial;
}

#content1, #content2, #content3, #content4, #content5, #content6, #content7, #content8, #content9, #content10, #content11, #content12, #content13, #content14, #content15, #content16, #content17, #content18, #content19, #content20{
  height: 150px;
  font-size: 1.5rem;
  padding: 15px;
}


#content1{
  background-color: var(--green);
}
#content2{
  background-color: var(--lime);
}
#content3{
  background-color: var(--yellow);
}
#content4{
  background-color: var(--orange);
}
#content5{
  background-color: var(--red);
}



#content6, #content7, #content8, #content9, #content10, #content11, #content12, #content13, #content14, #content15, #content16, #content17, #content18, #content19, #content20{
  background-color: var(--green);
}

@media (max-width: 859px) {

  #content1, #content2, #content3, #content4, #content5, #content6, #content7, #content8, #content9, #content10, #content11, #content12, #content13, #content14, #content15, #content16, #content17, #content18, #content19, #content20{
font-size: 1rem;}
}

@media (max-width: 580px) {

  #demo{
    font-size: 2rem;
  }

  #content1, #content2, #content3, #content4, #content5, #content6, #content7, #content8, #content9, #content10, #content11, #content12, #content13, #content14, #content15, #content16, #content17, #content18, #content19, #content20{
font-size: 0.8rem;}


}
