@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100;1,400;1,700&display=swap');

:root{
  --green: #9FDCB2;
  --lime: #f3ffc6;
  --yellow: #FBD994;
  --orange: #F9BD7B;
  --red: #DA5542;
}

html{
  width: 100%;
}

body{
  background-color: #222528;
  width: 100%;
}


.regina{
  text-decoration: none;
 color: white;
}

.regina:hover{
  color: var(--green);
}

.violeta{
  text-decoration: none;
  color: white;
}

.violeta:hover{
  color: var(--lime);
}

.action{
  position: sticky;
  float: right;
  margin-right: 20px;
  bottom: 60px;
  text-decoration: none;
  border-radius: 50px;
  border: solid 1px black;
  background: #222528;
  padding: 20px;
  color: aliceblue;
}

.collapsible{
padding: 30px;
cursor: pointer;
font-weight: lighter;
 font-size: 2rem;
}

.first{
  background-color: var(--green);
  height: 250px;

}
.second{
  background-color: var(--lime);
  height: 200px;
}
.third{
  background-color: var(--yellow);
  height: 200px;
}
.fourth{
  background-color: var(--orange);
  height: 200px;
}
.fifth{
  background-color: var(--red);
  height: 200px;
}

#demo{
  font-size: 3rem;
    font-weight: 500;
    padding: initial;
}

#content1, #content2, #content3, #content4, #content5{
  height: 150px;
  font-size: 1.5rem;
  padding: 15px;
}


#content1{
  background-color: var(--green);
}
#content2{
  background-color: var(--lime);
}
#content3{
  background-color: var(--yellow);
}
#content4{
  background-color: var(--orange);
}
#content5{
  background-color: var(--red);
}

@media (max-width: 859px) {

  #content1, #content2, #content3, #content4, #content5{
font-size: 1rem;}
}

@media (max-width: 580px) {

  #demo{
    font-size: 2rem;
  }

  #content1, #content2, #content3, #content4, #content5{
font-size: 0.8rem;}


}
